@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.root {
    background-image: url(images/фон.jpg);
    background-size: cover;
    /*растягивает на весь экран*/
    background-repeat: no-repeat;
    /*не повторяет*/
    margin-bottom: 100px;
}

.info {
    display: flex;
    /*перевели информацию рядом с фото */
}

.info__image {
    width: 200px;
    height: 200px;
    margin-right: 40px;
    border-radius: 20px;
    object-fit: cover;
    /*1 ширина 2 высота фото 3 устанавливает отступ от правого края "фото" 4 уст.радиус скругления рамки, фото */
}

.page {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 50px;
    /*1 устан.максимальную ширину элемента,2 отступ от каждого края авто,3 величина от верхнего края */
}

.info__text {
    color: black;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.info__list {
    color: black;
    font-weight: 700;
    font-size: 24px;
    list-style-type: none;
}

.info__link {
    font-size: 20px;
    color: red;
    text-decoration: none;
    transition: .3s;
}

.info__link:hover {
    text-decoration: underline;
    opacity: .7;
}

.pole {
    width: 100%;
    background-color: rgba(132, 154, 147, 0.4);
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px 25px;
}

.pole_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pole_list2 {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: .6;
}

.pole2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_title {
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline;
}

.contact_label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contact_input {
    width: 100%;
    display: flex;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 5px;
}

.form {
    display: block;
    gap: 20px;
}

.tex {
    width: 100%;
    height: 50px;
    resize: none;
    display: block;
    background: transparent;
}

.but {
    margin-left: 35%;
    background: transparent;
    margin-top: 15px;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
}

.soo {
    margin-top: 10px;
}

.pole3 {
    width: 100%;
    background-color: rgba(132, 154, 147, 0.4);
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px 25px;
}

.images{
    display:flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 0 25px;
    transition: .3s;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    width: 700px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 25px;
}

.container__move {
    position: relative;
    display: flex;
    width: 2600px;
}


.btn__left {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    top: 185px;
    left: -10px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.btn__left:hover {
    opacity: .6;
}

.btn__right {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    top: 185px;
    left: 670px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.btn__right:hover {
    opacity: .6;
}

@media screen and (max-width: 1223px) {
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
} 

    .info__image {
     margin: 0;
}

    .heading {
     display: flex;
     align-items: center;
     justify-content: center;
}

    .info__text {
    margin: 0 14px 0 14px;
    width: calc(100% - 28px);
    margin: 0 auto;
    text-align: center;
}

    .text {
    margin: 0 14px 0 14px;
    width: calc(100% - 28px);
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

    .info__list {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
}

    .info__link {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

   .pole {
   width: 650px;
    background-color: rgba(132, 154, 147, 0.4);
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px 25px;
    
}
} 

@media screen and (max-width: 767px) {

.container {
    width: 350px;
    height: 435px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 25px;
}

.btn__right {
    left: 320px;
    top: 175px;
}
.btn__left {
    top: 175px;
}

.pole {
    width: 300px;
     background-color: rgba(132, 154, 147, 0.4);
     margin: 0 auto;
     margin-top: 25px;
     border-radius: 20px;
     padding: 15px 25px;
}   
}
